



    <style>
        body{
            background-color:#f4f00d;
            font-size:14px;
            color:#fff;
        }
        .simple-login-container{
            width:300px;
            max-width:100%;
            margin:50px auto;
        }
        .simple-login-container h2{
            text-align:center;
            font-size:20px;
        }
        
        .simple-login-container .btn-login{
            background-color:#FF5964;
            color:#fff;
        }
        a{
            color:#fff;
        }
    </style>

<section>
    <div class="simple-login-container">
        <h2>ADD PRODUCT</h2>
        <form action="/admin/edit-products" enctype="multipart/form-data" method="post" >
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" placeholder="Product Name" name="name" value="{{product.name}}">
                <input type="text" class="form-control" placeholder="Product Name" name="productId" value="{{product._id}}" hidden>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="text" placeholder="category" class="form-control" name="category" value="{{product.category}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="text" placeholder="Price" class="form-control" name="price" value="{{product.price}}">
            </div>
        </div>
        {{!-- <div class="row">
            <div class="col-md-12 form-group">
                <input type="password" placeholder="discount %" class="form-control">
            </div>
        </div> --}}
        <div class="row">
            <div class="col-md-12 form-group">
                <textarea placeholder="details" class="form-control" width="300px" name="details" >{{product.details}}</textarea>
            </div>
        </div>
        <div class="row">
          <div class="col-m12 form-group ml-3">
            <img src="/product-images/{{product._id}}.jpg" width="100px" id="imageView" alt="no user pic">
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="img">Image</label>
                <input type="file" placeholder="Image" class="form-control" width="300px" value="" name="img"
                onchange="viewImage(event)" id="productImage">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="submit" class="btn btn-block btn-login" value="ADD PRODUCT" >
            </div>
        </div>
       </form>
    </div>
    
</section>
<script>
    let viewImage = (event)=>{
        document.getElementById("imageView").src = URL.createObjectURL(event.target.files[0])
    }
</script>
